@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

/* Universals */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
header{
    background-color: #242325;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em 0em;
}

/*** HEADER STYLES ***/

/* Game Title */
.game-title h1{
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: .1em;
    font-size: 2em;
    font-weight: 700;
}

/* Player Styles */
.player-1, .player-2{
    display: flex; 
    justify-content: space-around;
    margin: 1em;
}
.player-1 h3, .player-2 h3{
    text-transform: uppercase;
    letter-spacing: .1em;
    font-size: 1.3em;
    font-weight: 500;
    margin-right: .5em;
}
.player-1 h3{
    color: #F03A47;
}
.player-2 h3{
    color: #276FBF;
}
.player-1 input, .player-2 input{
    height: 1.5em;
    width: 15em;
}

/* Header Button Style */
.header-button{
    background: transparent;
    border: none;
    width: 10em;

    color: #FFFFFF;
    font-size: 1.2em;

    padding: .5em 0em;
}
.header-button:hover{
    border: 2.5px solid white;
}

/* Lightbox Styles */
.lightbox{
    position: absolute;
    top: 0;
    left: 0; 
    
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    opacity: 0;
}

.lightbox-box{
    width: 50em;
    height: auto;
    padding: 2em 5em;
    background-color: #FEFEFE;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* New Game Lightbox Styles */
.new-game-header{
    font-size: 2em;
    margin: .5em;
    color:  #242325;
}
.new-game-button{
    width: 15em;
    height: 3em;
    margin: 1em;
    font-size: 1.3em;
    border: none;
}
.new-game-button:active{
    background: #F03A47;
    color: #FFFFFF;
}


/* Menu Lightbox Styles */
.menu-name {
    text-transform: uppercase;
    font-size: 3em;
    margin: .5em;
    color:  #242325;
}
.menu-games{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.menu-games li{
    font-size: 2em;
    font-weight: bold;
    letter-spacing: .1em;
    color: #FFFFFF;
    width: 40%;
    text-align: center;
    padding: 1em 0em 1em 0em;
    margin: .5em;
    border: 5px solid #FFFFFF;
}

.back-red{
    background: #F03A47;
    transition: .15s;
}
.back-red:hover, .back-blue:hover{
    background: #FFFFFF;
    color: #000000;
}
.back-blue{
    background: #276FBF;
}
.back-red:hover{
    border: 5px solid #F03A47;
}
.back-blue:hover{
    border: 5px solid #276FBF;
}

/* Table Styles */
table, td{
    border: 1px solid #11151C;
    border-collapse: collapse;
}
td{
    padding: .2em;
    height: 20px; 
    width: 20px;
}


