<table class="capture" id="capture">
    <tr id="row-1">
        <td id="col-1"></td>
        <td id="col-2"></td>
        <td id="col-3"></td>
        <td id="col-4"></td>
        <td id="col-5"></td>
    </tr>
    <tr id="row-2">
        <td id="col-1"></td>
        <td id="col-2"></td>
        <td id="col-3"></td>
        <td id="col-4"></td>
        <td id="col-5"></td>
    </tr>
    <tr id="row-3">
        <td id="col-1"></td>
        <td id="col-2"></td>
        <td id="col-3"></td>
        <td id="col-4"></td>
        <td id="col-5"></td>
    </tr>
</table>